{% extends 'base.html.twig' %}

{% block title %}Editar Evento
{% endblock %}

{% block body %}

	{% include 'comunes/_draft.html.twig' with {'titulo': 'Edición de un nuevo evento'} %}
	
	<div class="row justify-content-center">
		<div class="col-12 col-md-8" id="asistance-table">
			<h2>Tabla de Asistencia de usuarios</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Asistencia</th>
						<th>Coordinador</th>
						<th>Conductor</th>
						<th>Coche particular</th>
						<th>Horario estimado</th>
						<th>Modificador de horas extra</th>
					</tr>
				</thead>
				<tbody>
					{% for userEvent in evento.userEvents %}
						<tr>
							<td>{{ userEvent.user }}</td>
							<td>
								{% if userEvent.asistance is null %}
									?
								{% elseif userEvent.asistance %}
									✓
								{% else %}
									✘
								{% endif %}
							</td>
							<td>
								{% if userEvent.asistance %}
									<input type="checkbox" name="coordination" {% if userEvent.coordination %} checked {% endif %}>
								{% else %}
									-
								{% endif %}
							</td>
							<td>
								{% if userEvent.asistance %}
									<input type="checkbox" name="conductor" {% if userEvent.driving %} checked {% endif %} {% if not userEvent.driving %} disabled {% endif %}>
								{% else %}
									-
								{% endif %}
							</td>
							<td>
								{% if userEvent.asistance and userEvent.driving %}
									<input type="checkbox" name="coche-particular">
								{% else %}
									-
								{% endif %}
							</td>
							{# <td>
								{% if userEvent.asistance %}
									<input type="text" name="horario-estimado" value="{{ userEvent.estimatedSchedule }}">
								{% else %}
									-
								{% endif %}
							</td>
							<td>
								{% if userEvent.asistance %}
									<input type="number" name="modificador-horas-extra" value="{{ userEvent.extraHoursModifier }}">
								{% else %}
									-
								{% endif %} 
							</td>#}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
