<form method="post" action="{{ path('app_type_delete', {'id': type.id}) }}" onsubmit="return confirm('¿Estás seguro/a de que deseas eliminar este elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type.id) }}">
    <button class="btn bg-danger">Eliminar</button>
</form>
