{% extends 'base.html.twig' %}

{% block title %}Edit UserEvent{% endblock %}

{% block body %}
    <h1>Edit UserEvent</h1>

    {{ include('user_event/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_event_index') }}">back to list</a>

    {{ include('user_event/_delete_form.html.twig') }}
{% endblock %}
