{% extends 'base.html.twig' %}

{% block title %}New User_Event
{% endblock %}

{% block body %}
	<h1>Create new User_Event</h1>
	{{ include('user_event/_form.html.twig') }}
	<a href="{{ path('app_user_event_index') }}">back to list</a>
{% endblock %}
