{% extends 'base.html.twig' %}

{% block title %}Edit Signing{% endblock %}

{% block body %}
    <h1>Edit Signing</h1>

    {{ include('signing/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
