{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="container mx-auto row justify-content-center">
        <div class="col-12 col-md-6 mt-5" id="container">
        
            {% include 'comunes/_form.html.twig' with {'titulo': 'Edición de usuario'} %}
            <a class="boton btn my-3 d-flex" href="{{ path('app_user_trabajadores') }}">Volver</a>
        </div>
    </div>
{% endblock %}
